.root {
    -fx-background-color: linear-gradient(from 400px 300px to 400px 700px, #02b90c, #ffffff);
}

.button {
    -fx-background-radius: 25px;
}

.button:hover {
    -fx-background-color: #b6b6b6;
}


.list-view {

    -fx-border-color: black;
    -fx-border-width: 2px;
}

.text-area {
    -fx-border-color: black;
}

.list-view .list-cell:even {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {

    -fx-background-color: #666666;
    -fx-text-fill: white;
}
